@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="pa-4 justify-center my-4 mud-text-align-center">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Hello, @context.User.Identity?.Name!</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="BeginLogOut">Log Out</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="https://github.com/kanik0/KazzingtonPostB">Source</MudButton>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="pa-4 justify-center my-4 mud-text-align-center">
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Link="authentication/login">Log in</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="https://github.com/kanik0/KazzingtonPostB">Source</MudButton>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
