@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/kanik0/KazzingtonPostB" target="_blank">Source</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="bottom-row px-4">
            <a href="">
                <span style="font-size:medium !important" class="fs-4">KazzingtonPost v0.3 - WebAssembly</span>
            </a>
        </div>
    </main>
</div>
