@layout ArticleLayout
@page "/article"
@using KazzingtonPostB.Shared
@inject Services.AppData articlePage
@inject NavigationManager NavManager
@using AngleSharp
@using Base64UrlEncoding

<PageTitle>Article</PageTitle>

@if (articlePage.Data == null)
{
    NavManager.NavigateTo("/");
}
else
{
    <div class="fixed-icon" title="Share">
        <div class="icon">
            <i class="fa fa-copy"></i>
        </div>
        <span><b><a href="@sharedLink">Share</a></b></span>
    </div>
    @ms
}

@code {
    private MarkupString? ms;
    private String? sharedLink;
    private Uri? url;

    protected override async Task OnInitializedAsync()
    {
        if (articlePage.Url is not null && articlePage.Data is not null && articlePage.DataAMP is not null)
        {
            url = new Uri(articlePage.Url);

            sharedLink = "/share/" + Base64UrlEncoder.Encode(url.OriginalString);

            ms = (MarkupString)await HandlePaywall(articlePage.Data, articlePage.DataAMP, url);
        }
    }

    public static async Task<String> HandlePaywall(String page, String pageAMP, Uri url)
    {
        String FixedPage;
        String domain = url.Host;

        // Configure Paywall bypass tecnhiques here
        if (domain.EndsWith("repubblica.it"))
        {
            AngleSharp.IConfiguration config = Configuration.Default;
            IBrowsingContext context = BrowsingContext.New(config);

            AngleSharp.Dom.IDocument document = await context.OpenAsync(req => req.Content(page));

            if (document.GetElementById("paywall") is not null)
            {
                document.GetElementById("paywall").Remove();
            }
            if (document.GetElementById("adv-TopLeft") is not null)
            {
                document.GetElementById("adv-TopLeft").Remove();
            }

            FixedPage = document.DocumentElement.OuterHtml;
        }
        else if (domain.EndsWith("ilfattoquotidiano.it"))
        {
            AngleSharp.IConfiguration config = Configuration.Default;
            IBrowsingContext context = BrowsingContext.New(config);
            IBrowsingContext contextAMP = BrowsingContext.New(config);
            AngleSharp.Dom.IDocument document = await context.OpenAsync(req => req.Content(page));
            AngleSharp.Dom.IDocument documentamp = await contextAMP.OpenAsync(req => req.Content(pageAMP));

            AngleSharp.Dom.IElement? content = documentamp.QuerySelector("section[subscriptions-section='content']");

            if (content is not null)
            {
                document.GetElementsByClassName("article-content")[0].Replace(content);
            }

            FixedPage = document.DocumentElement.OuterHtml;
        }
        else if (domain.EndsWith("corriere.it"))
        {
            FixedPage = page;
        }
        else if (domain.EndsWith("huffingtonpost.it"))
        {
            FixedPage = page;
        }
        else if (domain.EndsWith("limesonline.com"))
        {
            FixedPage = page;
        }
        else if (domain.EndsWith("editorialedomani.it"))
        {
            FixedPage = page;
        }
        else
        {
            FixedPage = "<center><h1>Site not supported, sorry.</h1><center>";
        }

        return FixedPage;
    }

}