@layout ArticleLayout
@page "/article"
@using KazzingtonPostB.Shared
@inject Services.AppData articlePage
@inject NavigationManager NavManager
@using AngleSharp
@using Base64UrlEncoding

<PageTitle>Article</PageTitle>

@if (articlePage.Data == null)
{
    NavManager.NavigateTo("/");
}
else
{
    <div class="fixed-icon" title="Share">
        <div class="icon">
            <i class="fa fa-copy"></i>
        </div>
            <span><b><a href="@sharedLink">Share</a></b></span>
    </div>
    @ms
}

@code {
    private MarkupString? ms;
    private String? sharedLink;
    private Uri? url;

    protected override async Task OnInitializedAsync()
    {
        if (articlePage.Url is not null && articlePage.Data is not null)
        {
            url = new Uri(articlePage.Url);

            sharedLink = "/share/" + Base64UrlEncoder.Encode(url.OriginalString);

            ms = (MarkupString)await HandlePaywall(articlePage.Data, url.Host);
        }
    }

    public static async Task<String> HandlePaywall(String page, String domain)
    {
        String FixedPage;

        // Configure Paywall bypass tecnhiques here
        if (domain.EndsWith("repubblica.it"))
        {
            // TODO: remove article limit alert using Anglesharp
            AngleSharp.IConfiguration config = Configuration.Default;
            IBrowsingContext context = BrowsingContext.New(config);

            AngleSharp.Dom.IDocument document = await context.OpenAsync(req => req.Content(page));

            if (document.GetElementById("paywall") is not null)
            {
                document.GetElementById("paywall").Remove();
            }
            if (document.GetElementById("adv-TopLeft") is not null)
            {
                document.GetElementById("adv-TopLeft").Remove();
            }

            FixedPage = document.DocumentElement.OuterHtml;
        }
        else if (domain.EndsWith("corriere.it"))
        {
            FixedPage = page;
        }
        else if (domain.EndsWith("huffingtonpost.it"))
        {
            FixedPage = page;
        }
        else if (domain.EndsWith("limesonline.com"))
        {
            FixedPage = page;
        }
        else if (domain.EndsWith("editorialedomani.it"))
        {
            FixedPage = page;
        }
        else
        {
            FixedPage = "<center><h1>Site not supported, sorry.</h1><center>";
        }
        
        return FixedPage;
    } 

}